<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.infra.db.mapper.vault.VaultCredentialCategoryMapper">

    <select id="selectCredentialCategoryMappings" resultType="CrdCatVo">
        SELECT
            tb_vlt_crd_idx,
            tb_vlt_cat_idx
        FROM tb_vlt_crd_cat
        <if test="credentialIdxList != null and credentialIdxList.size() > 0">
            WHERE tb_vlt_crd_idx IN
            <foreach collection="credentialIdxList" item="credentialIdx" open="(" separator="," close=")">
                #{credentialIdx}
            </foreach>
        </if>
        <if test="credentialIdxList == null or credentialIdxList.size() == 0">
            WHERE 1 = 0
        </if>
    </select>

    <select id="selectCredentialCategoryMappingsByCredentialIdx" resultType="CrdCatVo">
        SELECT
            tb_vlt_crd_idx,
            tb_vlt_cat_idx
        FROM tb_vlt_crd_cat
        WHERE tb_vlt_crd_idx = #{credentialIdx}
    </select>

    <delete id="deleteCredentialCategoryMappings">
        DELETE FROM tb_vlt_crd_cat
        WHERE tb_vlt_crd_idx = #{credentialIdx}
    </delete>

    <delete id="deleteCategoryMappings">
        DELETE FROM tb_vlt_crd_cat
        WHERE tb_vlt_cat_idx = #{categoryIdx}
    </delete>

    <insert id="insertCredentialCategoryMappings">
        INSERT INTO tb_vlt_crd_cat (
            tb_vlt_crd_idx,
            tb_vlt_cat_idx
        )
        VALUES
        <foreach collection="categoryIdxList" item="categoryIdx" separator=",">
            (#{credentialIdx}, #{categoryIdx})
        </foreach>
    </insert>
</mapper>
