<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.infra.db.mapper.vault.VaultMapper">

    <select id="selectCredentialList" resultType="CrdVo">
        SELECT
            tb_vlt_crd_idx AS idx,
            tb_vlt_crd_uuid AS uuid,
            mbr_acct_idx AS mbrAcctIdx,
            ttl,
            lgn_id AS lgnId,
            pwd,
            memo,
            created_by AS createdBy,
            updated_by AS updatedBy,
            created_at AS createdAt,
            updated_at AS updatedAt,
            del_at AS delAt
        FROM tb_vlt_crd
        WHERE mbr_acct_idx = #{mbrAcctIdx}
          AND del_at IS NULL
        <if test="categoryUuids != null and categoryUuids.size() > 0">
            AND EXISTS (
                SELECT 1
                FROM tb_vlt_crd_cat vcc
                INNER JOIN tb_vlt_cat vc ON vc.tb_vlt_cat_idx = vcc.tb_vlt_cat_idx
                WHERE vcc.tb_vlt_crd_idx = tb_vlt_crd.tb_vlt_crd_idx
                  AND vc.tb_vlt_cat_uuid IN (
                    <foreach collection="categoryUuids" item="categoryUuid" separator=",">
                        CAST(#{categoryUuid} AS UUID)
                    </foreach>
                  )
                  AND vc.del_at IS NULL
            )
        </if>
        <if test="keywordTokens != null and keywordTokens.size() > 0">
            <foreach collection="keywordTokens" item="keywordToken">
                AND (
                    ttl ILIKE CONCAT('%', #{keywordToken}, '%')
                    OR COALESCE(lgn_id, '') ILIKE CONCAT('%', #{keywordToken}, '%')
                    OR COALESCE(memo, '') ILIKE CONCAT('%', #{keywordToken}, '%')
                )
            </foreach>
        </if>
        ORDER BY created_at DESC
    </select>

    <select id="selectCredentialByIdx" resultType="CrdVo">
        SELECT
            tb_vlt_crd_idx AS idx,
            tb_vlt_crd_uuid AS uuid,
            mbr_acct_idx AS mbrAcctIdx,
            ttl,
            lgn_id AS lgnId,
            pwd,
            memo,
            created_by AS createdBy,
            updated_by AS updatedBy,
            created_at AS createdAt,
            updated_at AS updatedAt,
            del_at AS delAt
        FROM tb_vlt_crd
        WHERE tb_vlt_crd_idx = #{idx}
          AND del_at IS NULL
    </select>

    <select id="selectCredential" resultType="CrdVo">
        SELECT
            tb_vlt_crd_idx AS idx,
            tb_vlt_crd_uuid AS uuid,
            mbr_acct_idx AS mbrAcctIdx,
            ttl,
            lgn_id AS lgnId,
            pwd,
            memo,
            created_by AS createdBy,
            updated_by AS updatedBy,
            created_at AS createdAt,
            updated_at AS updatedAt,
            del_at AS delAt
        FROM tb_vlt_crd
        WHERE tb_vlt_crd_uuid = CAST(#{uuid} AS UUID)
          AND mbr_acct_idx = #{mbrAcctIdx}
          AND del_at IS NULL
    </select>

    <insert id="insertCredential" parameterType="CrdVo" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO tb_vlt_crd (
            mbr_acct_idx,
            ttl,
            lgn_id,
            pwd,
            memo,
            created_by
        ) VALUES (
            #{mbrAcctIdx},
            #{ttl},
            #{lgnId},
            #{pwd},
            #{memo},
            #{createdBy}
        )
    </insert>

    <update id="updateCredential" parameterType="CrdVo">
        UPDATE tb_vlt_crd
        SET
            ttl = #{ttl},
            lgn_id = #{lgnId},
            pwd = #{pwd},
            memo = #{memo},
            updated_by = #{updatedBy},
            updated_at = now()
        WHERE tb_vlt_crd_uuid = CAST(#{uuid} AS UUID)
          AND mbr_acct_idx = #{mbrAcctIdx}
          AND del_at IS NULL
    </update>

    <update id="deleteCredential">
        UPDATE tb_vlt_crd
        SET
            del_at = now(),
            updated_by = #{updatedBy},
            updated_at = now()
        WHERE tb_vlt_crd_uuid = CAST(#{uuid} AS UUID)
          AND mbr_acct_idx = #{mbrAcctIdx}
          AND del_at IS NULL
    </update>

</mapper>
